@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 355 73% 47%;

    --card: 0 0% 100%;
    --card-foreground: 355 73% 47%;

    --popover: 0 0% 100%;
    --popover-foreground: 355 73% 47%;

    --primary: 355 73% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 355 73% 47%;
    --secondary-foreground: 0 0% 100%;

    --muted: 355 73% 95%;
    --muted-foreground: 355 73% 47%;

    --accent: 355 73% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 355 73% 47%;
    --input: 355 73% 47%;
    --ring: 355 73% 47%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 355 73% 10%;
    --foreground: 0 0% 100%;

    --card: 355 73% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 355 73% 10%;
    --popover-foreground: 0 0% 100%;

    --primary: 355 73% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 355 73% 47%;
    --secondary-foreground: 0 0% 100%;

    --muted: 355 73% 20%;
    --muted-foreground: 355 73% 80%;

    --accent: 355 73% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 355 73% 47%;
    --input: 355 73% 47%;
    --ring: 355 73% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}